.btn {
  border: none;
  background-color: var(--color-primary);
  padding: 2rem 6rem;
  border-radius: 100px;

  color: #fff;
  font-size: 2rem;
  font-weight: 700;

  box-shadow: 0 0.5rem 2rem rgba(0,0,0, 0.5);
  width: 350px;

  @media (max-width: 690px) {
    padding: 1rem 2rem;
    width: 200px;
    font-size: 1.4rem;
  }
  

  &:hover {
    cursor: pointer;
  }

  &:active {
    box-shadow: 0 0 1rem rgba(0,0,0, 0.5);
  }
}

.section-details {
    padding: 10rem;

    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;

    @media (max-width: 690px) {
      padding: 5rem;
    }

    @media (max-width: 525px) {
      display: flex;
      flex-direction: column;
      gap: 5rem;
      text-align: center;
    }
}

.section-textbox {
  padding: 10rem;

  @media (max-width: 1050px) {
    padding: 2rem;
  }

  @media (max-width: 690px) {
    padding: 0;
  }
}

.section-img {
    display: inline-block;
    width: 70%;
    align-self: center;
    justify-self: center;

    @media (max-width: 525px) {
      order: -1;
      width: 90%;
    }
}