.heading-secondary {
  font-size: 4rem;
  font-weight: 900;
  color: var(--color-dark);
}

.heading-tertiary {
  font-size: 3rem;
  font-weight: 900;
  color: var(--color-dark);
  margin-bottom: 2rem;
}

.section-paragraph {
  font-size: 1.4rem;
  color: var(--color-dark);
}
